@import 'nav.scss';

footer{
    width: 100%;
    min-height: 400px;
    background: $btn;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
    div{
        min-height: 450px;
        padding: 100px;
        ul{
            li{
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }
        .social{
            display: flex;
            font-size: 50px;
        }
    }
    
}