@import 'nav.scss';
@import 'footer.scss';

.container{
    margin-top: 150px;
    margin-bottom: 150px;

    form{
        .row{
            margin-top: 40px;
        }
        button{
            background: $btn;
            border: none;
            border-radius: 20px;
        }
    }
}