@import 'nav.scss';
@import 'footer.scss';

.container{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    table{
        thead{
            tr{
                background: $btn;
                color: white;
            }
        }
    }
    h2{
        color: $text;
    }
    .la-trophy, .la-medal, .la-globe{
        color: $text;
        font-size: 150px;
    }
}